.nav {
  .list {
    display: flex;
    column-gap: 24px;
  }

  .item {
    padding: 6px 10px;
  }

  .link {
    color: var(--body-text);
    font-weight: var(--light);
    font-size: 14px;

    &:hover {
      color: var(--black);
    }
  }
}
