:root {
  // Colors
  --primary-100: #5d5ad8;
  --primary-200: #524fd5;
  --primary-300: #413dd1;
  --saving: #3dd1a5;
  --black: #000;
  --background-white: #fff;
  --background-secondary: #fff5f1;
  --body-text: #666680;
  --text-primary: #181b32;
  --outline-dark: #b0b0c0;

  // Font Weight
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
}
